<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>670981566093-qlj6nn2m1pr1rlp7efbj84lbn79tu65s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670981566093-qlj6nn2m1pr1rlp7efbj84lbn79tu65s</string>
	<key>API_KEY</key>
	<string>AIzaSyADlys-32RaizPzZasE4stzxucKrYE5lq4</string>
	<key>GCM_SENDER_ID</key>
	<string>670981566093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juancabral.Pinterest</string>
	<key>PROJECT_ID</key>
	<string>pinterest-7574e</string>
	<key>STORAGE_BUCKET</key>
	<string>pinterest-7574e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670981566093:ios:7101026797699ee3</string>
	<key>DATABASE_URL</key>
	<string>https://pinterest-7574e.firebaseio.com</string>
</dict>
</plist>